footer {
    background-color: #227ce2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .social-links {
    margin-top: 5px;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #61dafb;
}